*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    background: grey;
    display: flex;
    flex-direction: row-reverse;
}
.custom-image{
    width: 410px;
    height: 410px;
    padding: 5px;
    margin-left: 50px;
}
.intro-text{
    justify-content: center;
}





