*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.top{
    background: #F6F8FB;
    display: flex;
    flex-direction: row-reverse;
}
.custom-image{
    width: 300px;
    height: 300px;
    padding: 5px;
    margin-left: 50px;
}
.intro-text{
    justify-content: center;
    color: #2cb34a;
}
.solutions_text{
    color: #2cb34a;
}





