.row-details {
    background: #F6F8FB;
    position: relative;
    padding: 10px;
    display: flex;
    flex-direction: row;
    margin: 10px;

}

.column-details {
    /*width: 20%;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
. row-header{
    width: 537.6px;
    height: 73.86px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 22px;
    color: #0F001A;

}

.row-header {
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: #2CB34A;
}

.underline {
    width: 323.37px;
    height: 3.36px;
    background: #2CB34A;
    border-radius: 2px;
    margin: auto;
}
.BottomSectionRow{
    background: transparent;
}

.border-data {
    border: 1px solid darkgrey;
    zIndex: 9999,
}