.registerScreen {
  border-radius: 10px;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.dashboardTitle{
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  color: #2cb34a;
  padding-top: 5px;
  margin: 7px;
}
.dashboardChartWrapper {
  max-width: 610px;
}
.dashboardApp{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .dashboardApp{
    margin-left: 0;
    padding: 1px 1px;
    height: 1000px;
  }
  .dashboardTitle{
    padding-top: 0px;
    margin: 0px;
  }
}