.footer{
    background: #2CB34A;
    border: none;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.footerColumns{
    display: flex;
    flex-direction: row;  
    justify-content: center;  
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 20px;
}

.footerColumn{
    margin-left: auto;
    margin-right: auto;
    padding: auto;
    display: flex;
    flex-direction: column;
}

.footerHeader{
    font-family: 'DM Sans',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
}

.footerLink{
    font-family: 'DM Sans',sans-serif;
    padding-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    list-style: 250%;
    color: #FFFFFF;
    opacity: 0.8;
}

.footerHr{
    background: #FFFFFF;
    height: 4px;
    margin: auto;
    width: 80%;
    opacity: 0.15;
}

.copyright{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #0F2137;
    opacity: 0.6;
    padding: 20px;
    margin-left: 20px;
}

.bottomFooterLinks{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    margin-left: auto;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
}

.bottomFooterLink{
    padding: 20px;
}

