.layout {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.child {
  padding: 60px;
  width: 100%;
}
.pageTitle {
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  color: #2cb34a;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  margin: 7px;
}
