.nav{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-family: 'Futura PT', sans-serif;
}

.navLinks{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin: auto;
}

.navLinkItem{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 118.4%;
    text-transform: uppercase;
    color: #262626;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    text-decoration: none;
}
.homeLink{
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 24px;
    display:flex ;
    align-items: center;
    color: #02073E;
    opacity: 0.8;
}
.logo{
    padding-left: 20px;
    padding-right: 20px;
}

.navbarLoginButton{
    width: 100px;
    height: 40px;
    border-radius: 100px;
    background: #2CB34A;
    margin-left: right;
    color: #FFFFFF;
    border: none;
    text-transform: uppercase;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    cursor: pointer;
}